html
  head
    title= title
    link(rel="stylesheet" href="/css/style.css")
  body
    .container
      h1 Pets
      a(href="/update-cobj") Add to this table
      table
        thead
          tr
            th Name
            th Type
            th Age
        tbody
          each pet in data
            tr
              td= pet.properties.name
              td= pet.properties.type
              td= pet.properties.age
